<style>
.NewsTdHeight{ line-height:20px; }
</style>
<fieldset class="cbi-section">
	<table width="100%" class="NewsTdHeight">
		<tr><td width="35%" align="right"><%:Select the device model:%></td><td  width="65%" align="left">
			<select name="amlogic_soc" id="amlogic_soc" style="width:auto" onchange="sel_dtb_input(this.options[this.selectedIndex].value)">&nbsp;&nbsp;&nbsp;
			<option value="0"><%:Select List%></option>
			<option value="11"><%:Phicomm N1%></option>
			<option value="12"><%:Phicomm N1 (DMA thresh)%></option>
			<option value="13"><%:HG680P & B860H%></option>
			<option value="14"><%:X96-Mini & TX3-Mini%></option>
			<option value="21"><%:Octopus Planet%></option>
			<option value="31"><%:X96 Max 4G%></option>
			<option value="32"><%:X96 Max 2G%></option>
			<option value="41"><%:Belink GT-King%></option>
			<option value="42"><%:Belink GT-King Pro%></option>
			<option value="43"><%:Belink GT-King Pro H%></option>
			<option value="44"><%:Belink GT-King Pro Rev_A%></option>
			<option value="45"><%:Hardkernel ODROID N2%></option>
			<option value="46"><%:UGOOS AM6 Plus%></option>
			<option value="51"><%:X96 Max+%></option>
			<option value="52"><%:X96 Max+ (OverClock@2208Mhz)%></option>
			<option value="53"><%:HK1 Box%></option>
			<option value="54"><%:HK1 Box (OveClock@2208Mhz)%></option>
			<option value="55"><%:H96 Max X3%></option>
			<option value="56"><%:H96 Max X3 (OveClock@2208Mhz)%></option>
			<option value="57"><%:Ugoos X3%></option>
			<option value="58"><%:Ugoos X3 (OveClock@2208Mhz)%></option>
			<option value="99"><%:Enter the dtb file name%></option>
			</select>
		</td></tr>
		<tr id="tr_sel_dtb" style="display:none;"><td width="30%" align="right"><%:Or enter the dtb file name:%></td><td  width="70%" align="left"><input class="cbi-input-file" style="width: 235px" type="text" id="amlogic_dtb" name="amlogic_dtb" /></td></tr>
		<tr><td width="30%" align="right"><%:Install OpenWrt:%></td><td  width="70%" align="left"><input type="button" class="cbi-button cbi-button-reload" value="<%:Install%>" onclick="return amlogic_install(this, '<%=self:cfgvalue(section)%>')"/>　<span id="_check_install"></span>　<span id="_show_me"></span></td></tr>
	</table>
</fieldset>
<script type="text/javascript">//<![CDATA[

	function sel_dtb_input(soc_value){
		// document.getElementById('_show_me').innerHTML = soc_value;
		if ( soc_value == "99" )
		{
			document.getElementById('tr_sel_dtb').style = '';
		}
		else
		{
			document.getElementById('tr_sel_dtb').style = 'display:none;';
		}
	}

	function amlogic_install(btn,amlogic_install_sel)
	{
		var amlogic_soc_id = document.getElementById('amlogic_soc');
		var amlogic_soc_index = amlogic_soc_id.selectedIndex;
		var amlogic_soc_value = amlogic_soc_id.options[amlogic_soc_index].value;
		var amlogic_soc_text = amlogic_soc_id.options[amlogic_soc_index].text;

		var amlogic_dtb_id = document.getElementById('amlogic_dtb');
		var amlogic_dtb_value = amlogic_dtb_id.value;

		var amlogic_show = document.getElementById('_show_me');
		var show_me_value = '[ SoC_id: ' + amlogic_soc_value
		if ( amlogic_dtb_value != "" ) { show_me_value = show_me_value + ', DTB_file_name: ' + amlogic_dtb_value }
		show_me_value = show_me_value + ' ]'
		// amlogic_show.innerHTML = show_me_value;

		if (confirm('<%:You have chosen:%> [ ' + amlogic_soc_text + ' ] , <%:Start install?%>') != true) { return false; }

		btn.disabled = true;
		btn.value    = '<%:Installing...%> ';

		XHR.get('<%=luci.dispatcher.build_url("admin", "system", "amlogic","start_amlogic_install")%>',
			{
				amlogic_install_sel: amlogic_soc_value + '@' + amlogic_dtb_value
			},
			function(x,status)
			{
				if ( x && x.status == 200 ) {
					if(status.rule_install_status=="1")
					{
						btn.value = '<%:Install Failed%>';
					}
					else
					{
						btn.value = '<%:Successful Install%>';
					}
				}
				else {
					btn.value = '<%:Install%>';
				}
			}
		);
		btn.disabled = false;
		return false;
	}

	var start_check_install = document.getElementById('_check_install');
	XHR.poll(1, '<%=luci.dispatcher.build_url("admin", "system", "amlogic", "start_check_install")%>', status.start_check_install, function(x, status) {
	if ( x && x.status == 200 ) {
		if ( status.start_check_install != "\n" && status.start_check_install != "" ) {
			start_check_install.innerHTML = '<font color="blue"> '+status.start_check_install+'</font>';
		}
		if ( status.start_check_install == "\n" || status.start_check_install == "" ) {
			start_check_install.innerHTML = '';
		}
	}
	});
//]]></script>
