<style>
.NewsTdHeight{ line-height:20px; }
</style>
<fieldset class="cbi-section">
	<table width="100%" class="NewsTdHeight">
		<tr><td width="100%" align="left">
			<input class="cbi-button cbi-button-remove" type="button" value="<%:Perform PowerOff%>" onclick="poweroff(this)" />
			<p style="display:none">
				<img id="poweroff_img" src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" />
				<span id="poweroff_message"><%:Device is shutting down...%></span>
			</p>
		</td></tr>
	</table>
</fieldset>

<script type="text/javascript">//<![CDATA[

	function status_check() {
		var time = 5;
		var msg = document.getElementById("poweroff_message");
		var img = document.getElementById("poweroff_img");
		var set = setInterval(function() {
			time--;
			img.src = "<%=resource%>/icons/loading.gif";
			msg.innerHTML = "<%:Waiting for the device to shut down...%>";
			if(time === 0) {
				img.src = "<%=resource%>/icons/ethernet_disabled.png";
				msg.innerHTML = "<%:The device has been turned off%>";
				clearInterval(set);
			}
    	}, 1000);
	}

	function poweroff(btn) {
		if (confirm('<%:Are you sure you want to shut down?%>') != true) { return false; }

		btn.style.display = 'none';
		document.getElementById('poweroff_message').parentNode.style.display = '';

		(new XHR()).post('<%=luci.dispatcher.build_url("admin", "system", "amlogic", "start_poweroff")%>', { token: '<%=token%>' }, status_check);
	}


//]]></script>
