<%+cbi/valueheader%>
	<% local display_config = self:cfgvalue(section) or self.default or "" %>
<style>
.NewsTdHeight{ line-height: 20px; }
.NewsFt{ margin: 10px; padding: 0px; }
a:link{ text-decoration:none;color:black; }
a:hover{ text-decoration:underline;color:black; }
a:active{ text-decoration:none;color:black; }
a:visited{ text-decoration:none;color:black; }
</style>
<fieldset class="NewsFt">
	<table class="NewsTdHeight">
		<tr><td width="25%" align="right"><%:OpenWrt firmware download url example:%></td><td  width="75%" align="left"><a target="_blank" href="https://github.com/ophub/amlogic-s9xxx-openwrt/releases">https://github.com/<span style="color: green"><b>ophub/amlogic-s9xxx-openwrt</b></span>/releases/download/openwrt_<span style="color: green"><b>s9xxx_lede</b></span>_2021.06/openwrt_<span style="color: blue">s905d</span>_k<span style="color: blue">5.12</span>.9_2021.06<span style="color: green"><b>.img.gz</b></span></a></td></tr>
		<tr><td width="25%" align="right"></td><td  width="75%" align="left"><%:Tips: The amlogic SoC (E.g: s905d) and mainline version of the kernel (E.g: 5.12) will automatically match the current openwrt firmware.%></td></tr>
		<tr><td width="25%" align="right"><%:OpenWrt kernel download url example:%></td><td  width="75%" align="left"><a target="_blank" href="https://github.com/ophub/amlogic-s9xxx-openwrt/tree/main/amlogic-s9xxx/amlogic-kernel">https://github.com/<span style="color: green"><b>ophub/amlogic-s9xxx-openwrt</b></span>/tree/main/<span style="color: green"><b>amlogic-s9xxx/amlogic-kernel</b></span></a></td></tr>
		<tr><td width="25%" align="right"></td><td  width="75%" align="left"><%:Tips: The OpenWrt kernel download repository is the same as the firmware.%></td></tr>
	</table>
</fieldset>
<%+cbi/valuefooter%>
